.name {
    text-align: center;
}
h1{
    color: blue;
}
.b {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
h2 {
    color: darkslategray;
}